<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sh.outer.dao.ResourceMenuDao">
    <resultMap id="BaseResultMap" type="cn.sh.outer.model.security.ResourceMenu">
        <id column="ID" property="id" jdbcType="DECIMAL"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="PERMISSION" property="permission" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parentId" jdbcType="DECIMAL"/>
        <result column="PARENT_IDS" property="parentIds" jdbcType="VARCHAR"/>
        <result column="SORT" property="sort" jdbcType="DECIMAL"/>
        <result column="HREF" property="href" jdbcType="VARCHAR"/>
        <result column="TARGET" property="target" jdbcType="VARCHAR"/>
        <result column="ICON" property="icon" jdbcType="VARCHAR"/>
        <result column="IS_SHOW" property="isShow" jdbcType="VARCHAR"/>
        <result column="CREATER" property="creater" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATER" property="updater" jdbcType="VARCHAR"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <collection property="children" column="ID" select="getChildrenMenus"/>
    </resultMap>

    <insert id="insert" parameterType="cn.sh.outer.model.req.MenuInfo" useGeneratedKeys="true" keyProperty="id">
        insert into T_MENU
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="permission != null and permission != ''">
                PERMISSION,
            </if>
            <if test="parentId != null">
                PARENT_ID,
            </if>
            <if test="parentIds != null and parentIds != ''">
                PARENT_IDS,
            </if>
            <if test="name != null and name != ''">
                NAME,
            </if>
            <if test="sort != null">
                SORT,
            </if>
            <if test="href != null and href != ''">
                HREF,
            </if>
            <if test="target != null and target != ''">
                TARGET,
            </if>
            <if test="icon != null and icon != ''">
                ICON,
            </if>
            <if test="isShow != null and isShow != ''">
                IS_SHOW,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="remark != null and remark != ''">
                REMARK,
            </if>
            CREATE_TIME
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="permission != null and permission != ''">
                #{permission,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=DECIMAL},
            </if>
            <if test="parentIds != null and parentIds != ''">
                #{parentIds,jdbcType=VARCHAR},
            </if>
            <if test="name != null and name != ''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="href != null and href != ''">
                #{href,jdbcType=VARCHAR},
            </if>
            <if test="target != null and target != ''">
                #{target,jdbcType=VARCHAR},
            </if>
            <if test="icon != null and icon != ''">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="isShow != null and isShow != ''">
                #{isShow,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark != ''">
                #{remark,jdbcType=VARCHAR},
            </if>
            now()
        </trim>
    </insert>

</mapper>